* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0F1628;
}

#arrow {
  position: fixed;
  left: 0;
  top: 0;
  margin: 40px 0 0 40px;
  z-index: 3;
  background-color: #0F1628;
  border: solid 2px #F5446A;
  border-radius: 100px;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--speed-transition),
    background-color var(--speed-transition),
    color var(--speed-transition),
    box-shadow var(--speed-transition);
}

#arrow:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #F5446A;
}

#arrow img {
  height: 50px;
  width: auto;
}

main {
  background-image: url(../../img/geographie.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  color: #D9DBDE;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 64px;
}

div,
.button {
  width: 720px;
  border-radius: 8px;
}

div {
  background-color: rgba(15, 22, 40, 0.5);
  backdrop-filter: blur(2px);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background-color: #0F1628;
  color: #F5446A;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: transform var(--speed-transition),
    background-color var(--speed-transition),
    color var(--speed-transition),
    border var(--speed-transition);
}

.button:hover {
  transform: scale(1.1);
  background-color: #F5446A;
  color: #0F1628;
  box-shadow: var(--shadow);
}

:root {
  --speed-transition: 0.4s;
  --shadow: 0px 0px 20px #0F1628;
}

@media screen and (max-width: 670px) {
  #arrow {
    margin: 24px 0 0 24px;

    height: 60px;
    width: 60px;

  }
}

@media screen and (max-width: 670px) {
  #arrow img {
    height: 28px;

  }
}

@media screen and (max-width: 670px) {

  div {
    width: 90%;
    height: 100px;
  }
}

@media screen and (max-width: 670px) {
  .button {
    width: 90vw;
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 920px) {

  div {
    width: 90%;
  }
}

@media screen and (max-width: 920px) {
  .button {
    width: 90vw;
  }
}