* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0F1628;
  width: 100vw;
}

h1 {
  position: absolute;
  font-size: 36px;
  color: #D9DBDE;
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  z-index: 1;
}

header {
  position: relative;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
}

img {
  width: 100vw;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(15, 22, 40, 0), rgba(15, 22, 40, 0.2), #0F1628);
  z-index: 0;
}

#chrono {
  position: fixed;
  left: 0;
  top: 0;
  margin: 40px 0 0 40px;
  z-index: 3;
  background-color: #0F1628;
  border: solid 3px #F5446A;
  border-radius: 100px;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chrono p {
  font-size: 40px;
  font-family: "roboto", sans-serif;
  color: #F5446A;

}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 60px 15% 0 15%;

}

div {
  border-radius: 8px;
  border: solid 2px #1C263F;
  transition: transform var(--transition-speed),
    box-shadow var(--transition-speed),
    border var(--transition-speed),
    background-color var(--transition-speed);
}

:root {
  --btn-scale: 1.1;
  --transition-speed: 0.4s;
  --shadow: 0px 0px 20px #F5446A;
}

div:hover {
  transform: scale(var(--btn-scale));
  box-shadow: var(--shadow);
  border: solid 2px #F5446A;
  background-color: #0F1628;
}

h2 {
  font-family: "roboto", sans-serif;
  color: #F5446A;
  font-size: 24px;
  padding: 28px 0px 28px 32px;
}

button {
  display: none;
  background-color: #F5446A;
  border-radius: 8px;
  color: #0F1628;
  height: 84px;
  font-family: "roboto", sans-serif;
  font-size: 24px;
}